 .u-section-1 {
  min-height: 870px;
}

.u-section-1 .u-image-1 {
  width: 1264px;
  left: auto;
  object-position: 0% 50%;
  right: -24px;
}

.u-section-1 .u-group-1 {
  width: 737px;
  min-height: 294px;
  height: auto;
  margin: 98px 50px 60px 453px;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: none;
  margin: 19px 0 0 40px;
}

.u-section-1 .u-image-2 {
  width: 137px;
  height: 99px;
  margin: -105px 421px 0 179px;
}

.u-section-1 .u-text-2 {
  letter-spacing: 1px;
  font-style: italic;
  font-size: 1.125rem;
  text-transform: none;
  margin: 28px 0 0 285px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-right: 0;
    margin-left: 203px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-left: 23px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 413px;
    margin-left: 171px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 268px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.0625rem;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-right: 323px;
    margin-left: 81px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 88px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    left: -310px;
    right: auto;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 95px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2)  + -14px);
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-2 {
    margin-right: 203px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 520px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-2 .u-image-1 {
  min-height: 400px;
  background-image: url("images/chateau.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 35px;
}

.u-section-2 .u-text-2 {
  width: 380px;
  margin: 49px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-2 .u-image-1 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 420px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-2 .u-text-1 {
    width: 233px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: 300px;
    margin-right: -2px;
    margin-left: 2px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-2 .u-image-1 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-2 .u-image-1 {
    min-height: 239px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 70px;
    margin-right: 70px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 639px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(71,138,201,0.4);
  margin: 42px 90px 0;
}

.u-section-3 .u-text-2 {
  letter-spacing: 6px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 2px 2px 8px rgba(71,138,201,0.4);
  width: 545px;
  margin: 16px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 255px;
  margin: 84px 885px 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 365px;
  grid-auto-columns: 100%;
  grid-gap: 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 226px;
  height: 334px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  margin: -360px 117px 18px 298px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-right: 685px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-3 {
    margin-right: 17px;
    margin-left: 198px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-3 .u-list-1 {
    margin-right: 465px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin: -363px 0 6px 281px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    margin-right: 285px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 101px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 86px;
    margin-right: auto;
    margin-left: -11px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 41px;
    margin-left: 0;
    margin-bottom: 60px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1202px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 22px 11px 47px -11px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 569px;
}

.u-section-4 .u-container-layout-1 {
  padding: 7px 30px;
}

.u-section-4 .u-text-1 {
  line-height: 1.8;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 28px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 39px 39px 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 569px;
  background-image: url("images/bvb-min.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 578px;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 886px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 579px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.625rem;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 413px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 477px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 719px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 316px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 461px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 426px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 553px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 268px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 902px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 70px 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 711px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  margin: 0 30px;
}

.u-section-5 .u-image-1 {
  width: 144px;
  height: 144px;
  background-image: url("images/WhatsAppImage2024-06-30at10.42.37.jpeg");
  background-position: 50% 50%;
  margin: 201px auto 0 43px;
}

.u-section-5 .u-image-2 {
  width: 386px;
  height: 386px;
  margin: -265px auto 0;
}

.u-section-5 .u-image-3 {
  width: 144px;
  height: 144px;
  background-image: url("images/WhatsAppImage2024-06-30at10.42.37.jpeg");
  background-position: 50% 50%;
  margin: -265px 70px 0 926px;
}

.u-section-5 .u-list-1 {
  margin: 0 0 3px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 118px;
  grid-gap: 0px;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px 10px 10px 17px;
}

.u-section-5 .u-icon-1 {
  width: 33px;
  height: 33px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -33px 0 0 60px;
}

.u-section-5 .u-text-3 {
  margin: 11px 0 0 60px;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px 10px 10px 17px;
}

.u-section-5 .u-icon-2 {
  width: 33px;
  height: 33px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -33px 0 0 60px;
}

.u-section-5 .u-text-5 {
  margin: 11px 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 586px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    margin-right: 0;
    margin-left: 796px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 41px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 97px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 428px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 115px;
    margin-left: 59px;
  }

  .u-section-5 .u-image-2 {
    width: 244px;
    height: 204px;
    margin-top: -174px;
    margin-right: 243px;
    margin-left: 233px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -174px;
    margin-right: 56px;
    margin-left: auto;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-2 {
    margin-left: 143px;
    margin-right: 153px;
  }

  .u-section-5 .u-image-3 {
    margin-right: 64px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 71px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 317px;
  }

  .u-section-5 .u-image-1 {
    width: 88px;
    height: 88px;
    margin-top: 151px;
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-5 .u-image-2 {
    width: 269px;
    height: 170px;
    margin-top: -228px;
    margin-right: 41px;
    margin-left: 30px;
  }

  .u-section-5 .u-image-3 {
    width: 87px;
    height: 87px;
    margin: -30px auto -17px 4px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 71px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 282px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 0;
  }
}